extends layout

block content
  div
    h1(class="mb-4 mt-3") Budgets
      button(type="button" class='btn btn-primary addBtn' data-target="#addBudgetModal" data-toggle="modal")
        span(class='fas fa-plus')
  .row
    each budget in budgetList
      .col-md-4.mb-4
        include components/budgets/budgetCard

    div(id="addBudgetModal" class="modal fade")
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title New Budget Line
          .modal-body
            form(method="POST" action="/budgets")
              .form-group
                label(for="budgetName") Name
                input.form-control(id="budgetName" name="name" type="text" aria-describedby="budgetNameHelp" required)
                small(id="budgetNameHelp" class="form-text text-muted") Budget line name must be unique
                label(for="budgetAmount") Amount (€)
                input.form-control(id="budgetAmount" name="amount" type="number" step="0.01" aria-describedby="budgetAmountHelp" required)
                small(id="budgetAmountHelp" class="form-text text-muted") Budget line amount must be gretter than 0
                label(for="budgetDesc") Description
                textarea.form-control(id="budgetDesc" name="description")
                label(for="budgetCategory") Category
                input.form-control(id="budgetCategory" name="category" type="text" aria-describedby="budgetCategoryHelp")
              .modal-footer
                button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel
                button(type="submit" class="btn btn-primary") Add