body {
  padding: 0px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.addBtn {
  margin-left: 1%;
}

.reserveTitle {
  color: #5f27cd;
}

.budget-card {
  width: 250px;
}

.card-category {
  color: darkslategray;
  font-size: small;
}

.card-text {
  margin-top: 1em;
  height: 24px;
}
